<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Station Map
    </div>
    <div class="map-container">
      <div id="map">
        <html>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWgfzsYKdVtC5eVBoMoujClSAxcWU333I=initMap"></script>
        <iframe width="1220" height="450" style="border:0" loading="lazy" allowfullscreen src="https://www.google.com/maps/d/u/0/embed?mid=16lQ4DI4Uiylt3l_UWg3lkw7OyUZhq012"></iframe>
      </html>
      </div>
    </div>
    <header class="main" id="siteheader">
      <a href="#menu" class="menu-link active"><span></span> <a href="#""">Stations</a></a>
      <nav id="menu" class="menu">
        <ul class="level-1">
          <% if @stations.present? & @bikes.present? %>
            <% @stations.each_with_index do |item,index| %>
              <li><a href=""> <%= item[:identifier] %> : <%= item[:name] %> (<%= item[:address] %>) </a><span class="has-subnav">&#x25BC;</span>
              <ul class="level-2">
              <% @bikes.each_with_index do |bike, b_index| %>
                <% if bike[:current_station_id] == item[:identifier] %>
                  <li><%= bike[:identifier] %></li>
                <% else %>
                <% end %>
              <% end  %>
              </ul>
            <% end %>
          <% else %>
          <div class="empty">
            No stations found.
          </div>
          <% end %>
        </ul>
      </nav>
    </header>
	</div>
</div>
