<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title">
      Station Map
    </div>
    <div class="map-container">
      <div id="map">
        <%= javascript_include_tag 'map' %>

        <script>
          var popup = L.popup();

          function onMapClick(e) {
              popup
                  .setLatLng(e.latlng)
                  .setContent("Hello")
                  .openOn(map);
          }

          <% if @stations.present? & @bikes.present? %>
            <% @stations.each_with_index do |item| %>
                var marker = L.marker([<%= item[:xcoord] %>, <%= item[:ycoord] %>]).addTo(map);
            <% end %>
          <% end %>
        </script>
      </div>
    <style media="screen">
      #map { height: 500px; }
    </style>
    <header class="main" id="siteheader">
      <a href="#menu" class="menu-link active"><span></span> <a href="#">Stations</a></a>
      <nav id="menu" class="menu">
        <ul class="level-1">
          <% if @stations.present? & @bikes.present? %>
            <% @stations.each do |item| %>
              <%= link_to(item[:name] , station_path(item), class: 'action show') %>
              <br>
            <% end %>
          <% else %>
          <div class="empty">
            No stations found.
          </div>
          <% end %>
        </ul>
      </nav>
    </header>
	</div>
</div>
