<%= link_to("Back to Station Map", '/stations/index', class: 'back-link flexbox vertical justify-space-around button solid-blue', :style => "margin:40px;") %>
<% if Current.user %>
    <p> You are currently viewing bikes at: </p>
    <p style="font-weight:bold"> <%= @station.name %> </p>
    <div class="flexbox vertical center justify-space-around" style="margin-bottom:30px">
      <p> Please select the bike you want to unlock </p>
      <% @bikes.each do |bike| %>
        <% if bike[:current_station_id] == @station.identifier %>
          <%= link_to(bike[:identifier] , edit_bike_path(bike), class: 'action show flexbox center justify-space-around button submit straight', :style => "margin-bottom:10px;") %>
        <% else %>
        <% end %>
      <% end  %>
    </div>
<% else %>
  <p> Please log in first to unlock a bike </p>
  <%= link_to 'Sign in', sign_in_path, :class => "flexbox center justify-space-around button solid-blue straight", :style => "margin:40px; margin-top:20px;" %>
<% end %>
