<h1>Payment</h1>
<!-- Payment Success Page -->
<p> You have successfully bought 100 points. </p>
<p> Want to start a ride? Back to station map: <%= link_to("Back to Station Map", '/stations/index', class: 'back-link') %> </p>
<p> Back to profile: <%= link_to("Back to Profile", '/profile', class: 'back-link') %> </p>
