<style>
    .price-op-button {
        height: 70px;
        width: 400px;
        background-color: white;
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-image: radial-gradient(49% 81% at 49% 48%, white 0%, #E2F8F8FF 90%);
        border: 2px solid;
        border-color: darkblue;
        border-radius: 8px;
        margin: 3px;
        float: right;
        color: darkblue;
    }
</style>
<h1>Pricing</h1>
<Ul>
    <li style='display:table-row;'>
        <h3 style='display:inline; margin:20px; text-align:right;'>Pay per ride:</h3>
        <a href="/home/payment">
            <button class='price-op-button' style='display:inline'>
                <h4 style='text-align:left'>Up to 8 Hours</h4>
                <p style='text-align:left'>10 points per hour<p>
            </button>
        </a>
    </li>
    <li style='display:table-row'>
        <h3 style='display:inline; margin:20px; text-align:right;'>Monthly Membership Deal:</h3>
        <a href="#">
            <button class='price-op-button' style='display:inline;'>
                <h4 style='text-align:left'>Covers up to 4 hours per day</h4>
                <p style='text-align:left'>500 points per month.<p>
            </button>
        </a>
    </li>
</ul>
