<h1>Pricing</h1>
<ul class="flexbox vertical justify-space-around center">
    <li class='flexbox horizontal justify-space-between'>
        <h3 style=' margin:20px;'>Pay per ride:</h3>
        <a href="/home/payment" class="straight">
            <button class='button price-op'>
                <h4 style='margin-left:10px;text-align:left'>Up to 8 Hours</h4>
                <p style='margin-left:10px;text-align:left'>10 points per hour<p>
            </button>
        </a>
    </li>
    <li style='display:table-row'>
        <h3 style='display:inline; margin:20px; text-align:right;'>Monthly Membership Deal:</h3>
        <button class='button price-op'>
            <h4 style='margin-left:10px;text-align:left'>Covers up to 4 hours per day</h4>
            <p style='margin-left:10px;text-align:left'>500 points per month.<p>
        </button>
    </li>
</ul>
