<style>
    .price-op-button {
        height: 70px;
        width: 400px;
        background-color: white;
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-image: radial-gradient(49% 81% at 49% 48%, white 0%, #E2F8F8FF 90%);
        border: 2px solid;
        border-color: darkblue;
        border-radius: 8px;
        margin: 3px;
        float: right;
        color: darkblue;
    }
</style>

<h1>Pricing and Payment </h1>
<br/>
<br/>
<p>We currently have a great promotion going here at Valetbike - join now and automatically get 100 points free!</p>
<p>It's a great time to join!</p>
<br/>
<br/>
<p>How does it work? Every time you check out a bike, 10 points will be deducted from your account automatically.</p>
<p>You can check to see how many points you have available in your balance at any time by</p>
<p>viewing your profile page. When you'd like to top up your account, simply purchase 100 more</p>
<p>points on your profile.</p>
<br/>
<br/>
<p>If you have no points remaining, you will not be able to view the stations while logged in</p>
<p>and therefore unable to check out a new bike. Feel free to purchase more points at any time!</p>