<h1>Pricing</h1>
<Ul>
    <li style='display:table-row;'>
        <h3 style='display:inline; margin:20px; text-align:right;'>Pay per ride:</h3>
        <a href="/home/payment">
            <button class='button price-op' style='display:inline'>
                <h4 style='text-align:left'>Up to 8 Hours</h4>
                <p style='text-align:left'>10 points per hour<p>
            </button>
        </a>
    </li>
    <li style='display:table-row'>
        <h3 style='display:inline; margin:20px; text-align:right;'>Monthly Membership Deal:</h3>
        <a href="#">
            <button class='button price-op' style='display:inline;'>
                <h4 style='text-align:left'>Covers up to 4 hours per day</h4>
                <p style='text-align:left'>500 points per month.<p>
            </button>
        </a>
    </li>
</ul>
