<p> You have successfully finished a ride! </p>
<p> You have used this bike: <%= @bike.identifier %> </p>
<p> You ended your ride:

<% @stations.each do |item| %>
<% if @bike.current_station_id == item[:identifier] %>
  <%= item[:name] %>
<% end %>
<% end %>
</p>
<p>
  <center>
To start another ride:

<%= link_to("Back to Station Map", '/stations/index', class: 'back-link') %>
</center>
</p>
