<div>
  <h1 class="font-bold text-4xl">Bikes#show</h1>
  <p>You are currently renting this bike: <%= @bike.identifier %></p>

  <div>
    <p> Select a station to return a bike: </p>

    <div class="dropdown">
      <%= form_with url: bikes_update_path, method: :patch do |f| %>
        <%= f.select :stationId, Station.all.collect { |s| [s.name, s.name] }, include_blank: false %>
        <br>
      <%= f.submit "Return Now" %>
      <% end %>
    </div>
  </div>

</div>
