<h1>Payment</h1>

<div id="smart-button-container" class="w-50">
    <div style="text-align: center;">
        <div>
          <select id="item-options" style="visibility: hidden">
            <option value="Pay Per Ride" price="2">Pay Per Ride - 2 USD</option>
          </select>
          <select style="visibility: hidden" id="quantitySelect"></select>
        </div>
        <div id="paypal-button-container"></div>
    </div>
</div>

<!-- Payment Success Page -->
<div class="flexbox vertical stretch center">
  <center>
    <p> You have successfully bought 100 points.</p>
  </center>
  <div class="flexbox horizontal justify-space-around" style="margin:20px">
    <div class="flexbox vertical center">
      <p>Start a ride:</p> 
      <%= link_to("Back to Station Map", '/stations/index', class: 'back-link flexbox vertical justify-space-around button solid-blue', style: "height: 75px;") %> 
    </div>
    <div class="flexbox vertical center" style="margin-left: 20px;">
      <p> Back to profile:</p>
      <%= link_to("Back to Profile", '/profile', class: 'back-link flexbox vertical justify-space-around button solid-blue', style: "height: 75px;") %> 
    </div>
  </div>
</div>