<h1>Edit Email</h1>
<div class="flexbox vertical center justify-space-between">
  <%= form_with model: Current.user, url: edit_email_path do |f| %>
    <p>
      <%= f.label 'email:'%><br>
      <%= f.email_field :email %>
    </p>
    <p class="flexbox justify-space-around button submit">
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>