<h1>Edit Email</h1>
<div class="flexbox vertical center justify-space-between">
  <%= form_with model: Current.user, url: edit_email_path do |f| %>
    <p>
      <%= f.label 'email:'%><br>
      <%= f.email_field :email, :style => "border-radius:20px;" %>
    </p>
    <div class="flexbox horizontal justify-space-around" style="margin-bottom:40px;">
      <p class="flexbox justify-space-around button submit">
        <%= f.submit 'Update' %>
      </p>
    </div>
  <% end %>
</div>